
h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #2c3e50;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.container{
  margin-right: 3em;
}

.logo{
  padding: 1em;
  margin-bottom: -5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.intro{
  color: #f1f1f1;
  line-height: 2;
}

a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

header{
  background-color: rgba(52, 152, 219,1.0);
  height: 400px;
  text-align: center;
}

nav{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

nav a{
  color: #7f8c8d;
  align-items: center;
  text-align: center;
}

nav a:hover{
  color: #3498db;
  border-bottom: 3px solid #3498db;
  padding-bottom: 35px;
  transition: width 2s ease-in-out 1s;
}

hr{
  height: 1px;
  border: 0;
  border-top: 2px solid #cccccc;
  padding: 0;
}

.pp{
  border-radius: 50%;
}

.lead-text{
  color: #34495e;
  line-height: 2;
}

.thumbnail{
  border-radius: 5px;
}

.thumbnail:hover{
  cursor: pointer;
  background: #3498db;
}

footer a{
  color: #7f8c8d;
  text-align: center;
}

footer a:hover{
  color: #3498db;
}
