
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 2rem;
}

a:hover{
  text-decoration: none;
}

.navbar{
  padding-left: 3em;
  padding-right: 3em;
}

.nav-link, .navbar-brand{
  color: #888;

h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #736d79;
  padding-left: 1em;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #736d79;
}

p a{
  color: #5B4949;
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
}

p a:hover{
  border-bottom: 2px solid #5B4949;
}

img{
  border-radius: 3px;
}

.container{
  margin-right: 3em;
}

.logo{
  padding: 1em;
  margin-bottom: -5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.intro{
  color: #333;
  line-height: 2;
  margin: 0 auto;
}

a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

header{
  background-color: #f1d31d;
  height: 400px;
  text-align: center;
}

.jumbotron{
  background-image: url("http://tinyurl.com/gtrgq4f");
  background-size: cover;
  color: white;
  height: 500px;
}

.card-deck-wrapper{
  display: flex;
}

.btn-success-outline {
    color: darkseagreen;
    background-color: transparent;
    background-image: none;
    border-color: darkseagreen;
}

.btn-success-outline:hover {
    color: #fff;
    background-color: darkseagreen;
    border-color: darkseagreen;
}

#about-me{
  margin-bottom: 3rem;
  margin-top: 3rem;

nav a{
  color: #736d79;
  align-items: center;
  text-align: center;
}

nav a:hover{
  color: #f1d31d;
  border-bottom: 3px solid #f1d31d;
  padding-bottom: 35px;
  transition: width 2s ease-in-out 1s;
}

hr{
  height: 1px;
  border: 0;
  border-top: 2px solid #736d79;
  padding: 0;
}

.lead-text{
  color: #736d79;
  line-height: 2;
}

#about-me:focus{
  background-color: darkseagreen;
  border-color: darkseagreen;
}


#about-me:hover>span{
  padding-left: 10px;
  transition: .2s all linear;
}

#about-me:hover:after>span{
  padding-left: -10px;
  transition: .2s all linear;
}

a:hover {
    color: darkseagreen;
}

footer{
  height: 115px;
  padding: 50px 0;

.thumbnail:hover{
  cursor: pointer;
  background: #f1d31d;
}

.skills{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #736d79;
  text-align: center;
}

footer a{
  color: #736d79;
  text-align: center;
}

footer a:hover{
  color: #f1d31d;
}
