/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 2rem;
}

a:hover{
  text-decoration: none;
}

.navbar{
  padding-left: 3em;
  padding-right: 3em;
}

.nav-link, .navbar-brand{
  color: #888;
}

.jumbotron{
  background-image: url("http://tinyurl.com/gtrgq4f");
  background-size: cover;
  color: white;
  height: 500px;
}

.card-deck-wrapper{
  display: flex;
}

.btn-success-outline {
    color: darkseagreen;
    background-color: transparent;
    background-image: none;
    border-color: darkseagreen;
}

.btn-success-outline:hover {
    color: #fff;
    background-color: darkseagreen;
    border-color: darkseagreen;
}

#about-me{
  margin-bottom: 3rem;
  margin-top: 3rem;
}

#about-me:focus{
  background-color: darkseagreen;
  border-color: darkseagreen;
}

#about-me:hover>span{
  padding-left: 10px;
  transition: .2s all linear;
}

#about-me:hover:after>span{
  padding-left: -10px;
  transition: .2s all linear;
}

a:hover {
    color: darkseagreen;
}

footer{
  height: 115px;
  padding: 50px 0;
}
