*, a, h1{
  font-family: sans-serif;
  font-style: normal;
  color: white;
  list-style: none;
  text-decoration: none;
}

body{
  background: url('http://thecodeplayer.com/u/m/b1.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0 5%;
}

.navigation{
  display: flex;
  justify-content: center;
  margin-top: -1px;
}

.navigation a {
  justify-content: center;
  text-decoration: none;
  display: flex;
  color: LightSkyBlue;
}

.logo{
  display: inline-flex;
  justify-content: flex-start;
  justify-content: center;
  text-decoration: none;
  color: LightSkyBlue;
  height: 10px;
  background-color: white;
  padding: 20px;
}

.nav-btn{
  display: inline-flex;
  height: 10px;
  background-color: white;
  padding: 20px;
  border-right: 2px solid LightSkyBlue;
}
.nav-btn:last-child{
  border-right: none;
}

.active{
  border-bottom: 5px solid LightSkyBlue;
}

.nav-btn:hover{
  border-bottom: 5px solid LightSkyBlue;
}

.thumbnailContainer{

}

.thumbnail{
  width: 200px;
  height: 200px;
  background-image: url(http://www.fillmurray.com/300/200);
  background-size: cover;
  display: inline-flex;
}

.footer{

}

.social{
  display: flex;
  height: 20px;
  background-color: white;
}

footer ul li a {
  margin-left: 40%;
  background-color: inherit;
  color: DarkBlue;
}
